{
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "indent": [2, 2],
    "eqeqeq": 2,
    "eol-last": ["error", "always"],
    "curly": [2, "all"],
    "consistent-this": [2, "that"],
    "no-alert": 0,
    "no-new": 0,
    "no-undef": 0,
    "generator-star-spacing": "off"
  }
}
