@import '../../assets/style/config.scss';

.homeWrap {
  @include wh(100%, 100%);
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  background: url('../../assets/images/bg.jpg') left top;
  .homeContent {
    flex: 1;
    overflow: auto;
    .content {
      max-width: 1200px;
      min-height: 1176px;
      margin: 20px auto;
      .content-left {
        flex: 1;
        border-right: 5px solid #f1f1f1;
        div.ant-card-head-title {
          font-weight: bold;
          height: 50px;
          line-height: 50px;
          padding: 0 10px;
          background: #fbfbfb;
        }
      }
      .siderBox {
        .ant-card {
          clear: both;
          box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
          border-radius: 8px;
          .ant-card-head {
            padding: 0px 15px 0px;
            border-bottom: 1px solid #eaeaea;
            background-color: #fbfbfb;
            font-size: 18px;
            line-height: 20px;
          }
        }
        .hotTag {
          .ant-card-body{
            display: flex;
            flex-flow: row wrap;
            padding: 10px;
            padding-bottom: 0;
            span {
              display: block;
              padding: 4px 14px;
              border: 1px solid #ccc;
              border-radius: 5px;
              background: #fff;
              color: #666;
              font-size: 12px;
              margin: 0 8px 10px;
            }
          }
        }
      }
    }
  }
}
// antd样式重置
.ant-card-body, .ant-card-head {
  padding: 0;
}
.ant-layout-sider {
  background: #f0f2f5;
}
.ant-list-item {
  padding: 10px 20px;
  &:hover {
    background: rgba(227, 252, 218, 0.5);
  }
  .ant-avatar {
    @include wh(95px, 85px);
    border-radius: 0;
  }
}
// 轮播图样式重置
.ant-carousel .slick-slide {
  text-align: center;
  height: 313px;
  line-height: 313px;
  overflow: hidden;
  div, img {
    height: 100%;
  }
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}

// loading样式
.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  @include wh(100%, 100%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

